*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0d3748;
}
.content-about img{
    width: 100%;
}
.content-about>.row{
    margin-top: 32px;
}
.content-about h5{
    text-align: center;
}
.logo{
    padding: 32px 16px;
}

.logo>div>img{
    width: 180px;
    height: 84px;
}

.logo>div>p{
    margin: 0;
}


.content-pr{
    padding: 32px 0px;
}

.content-pr img{
    margin: 32px 0;
}
.footer{
    background-color: rgb(39, 37, 37);
}
.footer1{
    display: flex;
    padding: 0px 100px;
}
.f1{
    padding: 0px 30px 0px 0px;
    width: 450px;
    line-height: 25px;
}
.f2, .f3, .f4{
    padding: 0px 20px 0px 0px;
    line-height: 30px;
    width: 280px;
}
.a2, .a3, .a4, a{
    list-style: none;
    text-decoration: none;
    padding: 0px 10px 0px 0px;
}
li a{
    color: white;
    text-decoration: none;
}
li a:hover{
    color: rgb(216, 13, 13);
    text-decoration: none;
}

.c1{
    text-align: center;
    color: rgb(159, 159, 160);
}
.cuoi{
    text-align: center;
    background-color: rgb(86, 86, 86);
    color: white;
    line-height: 60px;
}
