.content-sp{
    margin-top: 66px;
}

.content-sp img{
    width: 100%;
}
/* the san pham */

.khungtong>div>a{
    width: 100%;
}

.noidung{

    background-color: rgb(194, 189, 189);
    padding: 16px;
}
.anh{
    width: 100%;
    background-size: cover;
}
.anh:hover{
    opacity: 0.6;
}
.khunggia{
    display: flex;
    justify-content: center;
    
}
.khunggia p{
    margin: 0;
}
.lienhe{
    padding: 4px 8px;
    border-radius: 8px;
    background-color: red;
    color: white;
}
.gia{
    padding: 4px 8px;
}
/* the san pham */

.carousel-item img {
    width: 100%;
    height: 400px;
}
.carousel-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.carousel {
    width: 100%;

}
.a{
    color: rgb(86,34 ,34 );
    font-size:18px;
    margin: 0;

}
